/* DESCTOP RULES */

.main-content
	left: 0
	right: 0
	margin: auto
	max-width: 960px
	font-size: 16px

.data__wrapper
	text-align: center
	display: inline-block

.thumbnail
	margin: 0 15% 
	padding-top: 20px
	height: 300px
	overflow: hidden
	box-shadow: 1px 1px 10px 3px gray
